// variables //

$strongCyan: hsl(172, 67%, 45%);

$veryDarkCyan: hsl(183, 100%, 15%);
$darkGrayishCyan: hsl(186, 14%, 43%);
$darkGrayishCyanTwo: hsl(184, 14%, 56%);
$lightGrayishCyan: hsl(185, 41%, 84%);
$lightGrayishCyanTwo: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

$font: 'Space Mono', monospace;

//**************************************//

//class names for reference

// .header
// .container
// .bill
// .tip
// .numberPeople
// .calculation

//***************GLOBALS***************//


html{
    font-size: 62.5%;
    box-sizing: border-box;
    width: 100vw;
    //font size set for easy rem calcs
    //so 1.6rem = 16px, 2.8rem = 28px
}

*, *:before, *:after {
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
}


body{
    position: relative;
    width: 100vw;
    background: $darkGrayishCyan;
}


//*************** MOBILE ***************//

.container{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: .18fr .14fr .27fr .13fr .28fr;
    background: $lightGrayishCyan;

}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .6em;
    font-weight: 400;
    font-size: 1.5rem;
    font-family: $font;
    background-color: $lightGrayishCyan;
    color: $veryDarkCyan;
}

.container div{
    width: 100vw;

}

@mixin headingStyle(){
    // display: block;
    position: absolute;
    font-family: $font;
    font-weight: 700;
    color: $darkGrayishCyan;
    font-size: 1.4rem;
    white-space: nowrap;
    height: 0;
    width: 0;
    // justify-content: center;
}

.bill{
    position: relative;
    background-color: $white;
    // border: 0px solid white;
    border-top-right-radius: 3em;
    border-top-left-radius: 3em;
}

.bill p{
    @include headingStyle();
    top: 1rem;
    left: 8%;
}


@mixin numberInputFields() {
    height: 35%;
    width: 85%;
    padding-top: .7rem;
    padding-right: 1.3rem;
    padding-bottom: .8rem;
    border-radius: .3rem;
    outline: none;
    border: none;
    text-align: right;
    color: $veryDarkCyan;
    font-family: $font;
    font-weight: 700;
    font-size: 2.4rem;
    background-color: $lightGrayishCyanTwo;
}

.bill input{
    @include numberInputFields();
    margin-left: 3rem;
    margin-top: 3.5rem;
}

.bill input::placeholder{
    font-family: $font;
    text-align: left;
    font-size: 2.4rem;
    padding-left: 2rem;
    font-weight: 400;
    color: $darkGrayishCyanTwo;
}

.tip{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "button1 button2"
    "button3 button4"
    "button5 button6";
    align-items: center;
    justify-items: center;
    padding: 2rem 3rem;
    background: white;
}

.tip p{
    @include headingStyle();
    position: absolute;
    top: 0rem;
    left: 8%;

}

.button1{
    grid-area: button1;
    
}

.button2{
    grid-area: button2;
}

.button3{
    grid-area: button3;
}

.button4{
    grid-area: button4;
}

.button5{
    grid-area: button5;
}

.button6{
    position: absolute;
    grid-area: button6;
    width: 13rem;
    height: 4.5rem;
    background-color: $lightGrayishCyan;
    color: $darkGrayishCyan;
    font-family: $font;
    font-weight: 700;
    font-size: 2.4rem;
    border-radius: .7rem;
    outline: none;
    border: none;
}

.tip button:not(.button6){
    position: absolute;
    width: 13rem;
    height: 4.5rem;
    background-color: $veryDarkCyan;
    color: white;
    font-family: $font;
    font-weight: 700;
    font-size: 2.4rem;
    border-radius: .7rem;
    outline: none;
    border: none;
    
}

.tip button:hover{
    background-color: $strongCyan;
}

.numberPeople{
    background-color: $white;
    position: relative
}

.numberPeople p{
    @include headingStyle();
    top: .5rem;
    left: 7.7%;
}

.numberPeople input{
    @include numberInputFields();
    margin-top: 3rem;
    margin-left: 2.7rem;
    background-image: url(/images/icon-person.svg);
    background-position: 10px 10px;
    background-repeat: no-repeat;
}


.calculationContainer{
    background-color: white;
    width: 100vw;
    
}

.calculationContainer .calculation{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "amount amountCalc"
    "total totalCalc"
    "reset reset";
    // align-items: center;
    // justify-items: center;
    // padding: 3rem 2rem 1rem 2rem;
    
    background-color: $veryDarkCyan;
    height: 90%;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2rem;
    border: 0px solid white;
    border-radius: 1rem;
}

// .calculationContainer .calculation h2{
//     color: white;
//     font-family: $font;
// }

// .calculationContainer .calculation p{
//     position: absolute;
//     top: .5rem;
//     color: $darkGrayishCyan;
//     font-family: $font;
//     font-weight: 700;
//     font-size: 1.2rem;
// }

.calculationContainer .calculation .tipAmount{
    grid-area: amount;
    width: 80%;
    align-self: start;
    justify-self: start;
}

.calculationContainer .calculation .total{
    grid-area: total;
    width: 80%;
    align-self: start;
    justify-self: start;
}

.calculationContainer .calculation .reset{
    grid-area: reset;
    width: 30%;
    height: 4rem;
    margin-left: 4rem;
    border-radius: .5rem;
    outline: none;
    border: none;
    background-color: $strongCyan;
    font-family: $font;
    font-size: 1.5rem;
    font-weight: 700;
    color: $veryDarkCyan;
}

.calculationContainer .calculation .amountCalc{
    grid-area: amountCalc;
    color: white;
    width: 10%;
    align-self: start;
    justify-self: end;
}

.totalCalc{
    grid-area: totalCalc;
    width: 1rem;
    align-self: start;
    justify-self: end;
}