html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: fixed;
  width: 100vw;
  background: #5e7a7d;
}

.container {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  width: 100vw;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: .18fr .14fr .27fr .13fr .28fr;
      grid-template-rows: .18fr .14fr .27fr .13fr .28fr;
  background: #c5e4e7;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: .6em;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: "Space Mono", monospace;
  background-color: #c5e4e7;
  color: #00494d;
}

.container div {
  width: 100vw;
}

.bill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
  border-top-right-radius: 3em;
  border-top-left-radius: 3em;
}

.bill p {
  position: relative;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: #5e7a7d;
  font-size: 1.4rem;
  white-space: nowrap;
  height: 0;
  width: 0;
  top: 1rem;
  left: 8%;
}

.bill input {
  height: 35%;
  width: 85%;
  margin: auto;
  padding-top: .7rem;
  padding-right: 1.3rem;
  padding-bottom: .8rem;
  border-radius: .3rem;
  outline: none;
  border: none;
  text-align: right;
  color: #00494d;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 2.4rem;
  background-color: #f4fafa;
}

.bill input::-webkit-input-placeholder {
  font-family: "Space Mono", monospace;
  text-align: left;
  font-size: 2.4rem;
  padding-left: 2rem;
  font-weight: 400;
  color: #7f9c9f;
}

.bill input:-ms-input-placeholder {
  font-family: "Space Mono", monospace;
  text-align: left;
  font-size: 2.4rem;
  padding-left: 2rem;
  font-weight: 400;
  color: #7f9c9f;
}

.bill input::-ms-input-placeholder {
  font-family: "Space Mono", monospace;
  text-align: left;
  font-size: 2.4rem;
  padding-left: 2rem;
  font-weight: 400;
  color: #7f9c9f;
}

.bill input::placeholder {
  font-family: "Space Mono", monospace;
  text-align: left;
  font-size: 2.4rem;
  padding-left: 2rem;
  font-weight: 400;
  color: #7f9c9f;
}

.tip p {
  position: relative;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: #5e7a7d;
  font-size: 1.4rem;
  white-space: nowrap;
  height: 0;
  width: 0;
  position: absolute;
  bottom: 70%;
  right: 92%;
}

.tip {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "button1 button2" "button3 button4" "button5 button6";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 0 3rem;
  background: white;
}

.button1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: button1;
}

.button2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: button2;
}

.button3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: button3;
}

.button4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: button4;
}

.button5 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: button5;
}

.button6 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: button6;
  width: 13rem;
  height: 4.5rem;
  background-color: #c5e4e7;
  color: #5e7a7d;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 2.4rem;
  border-radius: .7rem;
  outline: none;
  border: none;
}

.tip button:not(.button6) {
  width: 13rem;
  height: 4.5rem;
  background-color: #00494d;
  color: white;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 2.4rem;
  border-radius: .7rem;
  outline: none;
  border: none;
}

.tip button:hover {
  background-color: #26c0ab;
}

.numberPeople p {
  position: relative;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: #5e7a7d;
  font-size: 1.4rem;
  white-space: nowrap;
  height: 0;
  width: 0;
  top: 1rem;
  left: 8%;
}

.numberPeople {
  background-color: white;
}

.numberPeople input {
  height: 35%;
  width: 85%;
  margin: auto;
  padding-top: .7rem;
  padding-right: 1.3rem;
  padding-bottom: .8rem;
  border-radius: .3rem;
  outline: none;
  border: none;
  text-align: right;
  color: #00494d;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 2.4rem;
  background-color: #f4fafa;
  margin-top: 3rem;
  margin-left: 2.7rem;
  background-image: url(/images/icon-person.svg);
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

.calculationContainer {
  background-color: white;
}

.calculation {
  background-color: #00494d;
  height: 80%;
  width: 80% !important;
  margin-left: 2.8rem;
  margin-right: 3rem;
}
/*# sourceMappingURL=styles.css.map */